<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Message Board</title>
</head>

<body>
    <div id="header-container">
        <h1 class="heading">Mini Message Board</h1>

        <nav>
            <% for (let i=0; i < links.length; i++) { %>
                <button class="<%= links[i].className %>" onclick="window.location.href='<%= links[i].href %>'">
                    <%= links[i].text %>
                </button>
                <% } %>
        </nav>
    </div>
</body>

</html>