<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Message Board</title>
</head>

<body>

    <%- include('header', { links: links }) %>

        <ul class="messages">
            <% messages.forEach((message)=> { %>
                <div class="message-container">
                    <div class="top-message-container">
                        <div class="message-user"><%- message.name %>:</div>
                        <div class="message-added"><%- message.formatted_added %></div>
                    </div>
                    <div class="message-text"><%- message.message %></div>
                </div>

                <% }); %>
        </ul>
</body>

</html>