<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Message Board</title>
</head>

<body>
    <%- include('header', { links: links}) %>

        <div class="new-message-page-container">
            <h1>New Message</h1>
            <form method="POST" action="/new">
                <div class="input-container" id="user-input-container">
                    <label for="user" class="input-label">User:</label>
                    <input type="text" id="user" name="user" required>
                </div>
                <div class="input-container" id="message-input-container">
                    <label for="message" class="input-label">Message:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

</html>