html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(rgba(255, 166, 0, 0.8), rgb(239, 92, 116, 0.8), rgba(128, 0, 128, 0.8), rgb(53, 0, 53, 0.8));
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    border: rgb(123, 123, 123) 1px solid;
    background: rgba(243, 227, 199, 0.554);
}

.heading {
    color: black;
    padding-left: 100px;
}

nav {
    margin: auto 0;
}

#new-message-button {
    font-size: 1rem;
    background-color: rgb(156, 133, 133);
    padding: 1rem;
    font-weight: bold;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 8px;
    padding: 1rem;
    background: rgba(245, 226, 190, 0.347);
}

.top-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-user {
    font-size: 1.25rem;
    font-weight: bold;
}

.message-text {
    max-width: 1000px;
}

.new-message-page-container {
    margin-left: 20px;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: rgb(123, 123, 123) 1px solid;
    background: rgba(243, 227, 199, 0.554);
    width: 50%;
    min-width: 510px;
}

.input-container {
    max-width: 95%;
    display: grid;
    grid-template-columns: 15% 85%;
}

textarea,
input {
    max-width: 950px;
    padding: 5px;
}

.input-label {
    grid-column: 1;
    font-size: 1.15rem;
    font-weight: bold;
}

button {
    font-size: 1.1rem;
    align-self: center;
    padding: 5px;
}

.home-button {
    margin-right: 15px;
}

.new-message-button {
    background-color: lightgreen;
}

@media screen and (max-width: 640px) {
    #header-container {
        gap: 40px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}